#userBusinessDisplay {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  list-style: none;
}

.userBusinessDisplay-result {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 2rem;
}

.userBusinessDisplay-img {
  height: 300px;
  min-width: 50%;
}

.userBusinessDisplay-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  padding: 1rem;
  background-color: var(--light-color);
}

.userBusinessDisplay-name {
  margin-bottom: 0.3rem;
  font-size: 1.3rem;
  font-weight: bold;
}

.userBusinessDisplay-rating {
  margin-bottom: 0.3rem;
}

.userBusinessDisplay-rating span {
  color: var(--ratings-color);
}

.userBusinessDisplay-info {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.userBusinessDisplay-categories {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}

.userBusinessDisplay-categories li {
  margin: 0 0.3rem 0.3rem 0;
  padding: 0.3rem 0.5rem;
  border-radius: 0.3rem;
  background-color: var(--light-dark-color);
  color: white;
  font-weight: bold;
}

.userBusinessDisplay-price {
  font-weight: bold;
  margin-bottom: 0.3rem;
}

.userBusinessDisplay-location {
  margin-bottom: 0.3rem;
}

.userBusinessDisplay-location span {
  position: relative;
  top: 3px;
}

.userBusinessDisplay-closed {
  margin-bottom: 0.3rem;
  font-weight: bold;
  color: var(--error-color);
}

.userBusinessDisplay-open {
  margin-bottom: 0.3rem;
  font-weight: bold;
  color: var(--success-color);
}

.userBusinessDisplay-content-links a {
  display: inline-block;
  margin-right: 1rem;
  padding: 0.3rem 0.5rem;
  border-radius: 0.3rem;
  background-color: var(--theme-color2);
  color: white;
  font-weight: bold;
  text-decoration: none;
}

.userBusinessDisplay-content-links button {
  margin-right: 1rem;
  padding: 0.3rem 0.5rem;
  border: none;
  border-radius: 0.3rem;
  background-color: var(--theme-color2);
  color: white;
  font-size: var(--default-font);
  font-weight: bold;
}

.userBusinessDisplay-content-links a:hover,
.userBusinessDisplay-content-links button:hover {
  text-decoration: underline;
}

/* ----- Breakpoints ----- */
/* Medium screen devices (768px and above) */
@media only screen and (min-width: 768px) {
  .userBusinessDisplay-result {
    flex-direction: row;
  }
}
 
/* Extra big screen devices (1200px and above) */
@media only screen and (min-width: 1200px) {
  .userBusinessDisplay-result {
    flex-direction: row;
  }
}
/* ----- /Breakpoints ----- */