#navbar {
  display: flex;
  justify-content: space-between;
  height: var(--navbar-height);
  background-color: var(--theme-color);
}

#navbar-logo {
  display: flex;
  align-items: center;
  margin-left: 1rem;
  font-size: 1.5rem;
  font-weight: bold;
  color: white;
}

#navbar-links {
  display: none;
  list-style: none;
}

#navbar-links li {
  height: 100%;
}

#navbar-links li a {
  display: flex;
  align-items: center;
  height: 100%;
  padding: 1rem;
  color: white;
  text-decoration: none;
}

.navbar-active {
  background-color: var(--lighter-color);
}

/* ----- Breakpoints ----- */
/* Medium screen devices (768px and above) */
@media only screen and (min-width: 768px) {
  #navbar-links {
    display: flex;
  }
}
 
/* Extra big screen devices (1200px and above) */
@media only screen and (min-width: 1200px) {
  #navbar-links {
    display: flex;
  }
}
/* ----- /Breakpoints ----- */