#businessSearch {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem 0;
}

#businessSearch-header {
  margin-bottom: 2rem;
}

#businessSearch-form-wrapper {
  margin-bottom: 2rem;
}

#businessSearch-results-wrapper {
  width: 100%;
}

/*----- Pagination -----*/
#businessSearch-pagination {
  display: flex;
  align-items: center;
}

#businessSearch-pagination div {
  margin: 0 1rem;
  font-weight: bold;
}

#businessSearch-pagination button {
  padding: 0.3rem 0.5rem;
  border: none;
  border-radius: 0.3rem;
  background-color: var(--theme-color2);
  color: white;
  font-size: var(--default-font);
  font-weight: bold;
}
/*----- /Pagination -----*/

/* ----- Breakpoints ----- */
/* Medium screen devices (768px and above) */
@media only screen and (min-width: 768px) {
  #businessSearch-results-wrapper {
    width: 80%;
  }
}
 
/* Extra big screen devices (1200px and above) */
@media only screen and (min-width: 1200px) {
  #businessSearch-results-wrapper {
    width: 60%;
  }
}
/* ----- /Breakpoints ----- */