.authForm-input {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

.authForm-input label {
  margin-bottom: 0.3rem;
}

.authForm-input input {
  padding: 0.1rem 0.3rem;
  font-size: var(--default-font);
}

.authForm-submit {
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
}

.authForm-submit input {
  padding: 0.3rem 0.5rem;
  font-size: var(--default-font);
  font-weight: bold;
  border: none;
  border-radius: 0.3rem;
  background-color: var(--theme-color2);
  color: white;
}

.authForm-submit input:hover {
  cursor: pointer;
  text-decoration: underline;
}